<div class="container">

    <!--Row 1-->
    <div class="row" style="margin-top:50px">

        <div class="col-md-4">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5 wow zoomInRight" data-wow-delay="1s">

                <!--Card image-->
                <div class="view">
                    <img src="img/aboutMe/Pic.jpg" class="img-fluid">

                </div>
                <!--/.Card image-->
            </div>
        </div>

        <div class="col-md-8">

            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5 wow jello" data-wow-delay=".5s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title">Parshva Jain  <span style="margin-left:100px">#Parsh</span> </h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h4-responsive">
                            <li class="text-muted"> Lives in :</li>
                            <li style="margin-left:50px"> Indore , India</li>

                            <li class="text-muted"> Studying @ :</li>
                            <li style="margin-left:50px"> Medicaps Institute of Science and Technology <br><span class="text-muted" style="font-size:16px">Pursuing Degree in Information Technology</span></li>

                            <li><span class="text-muted">Age</span> : 20 <span class="text-muted" style="margin-left:40px">#ProfessionalDeveloper</span></li>


                        </ul>
                    </p>

                    <a href="https://plus.google.com/+ParshJainvenom" target="_blank" class="btn btn-info waves-effect z-depth-3">Follow Me</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->

        </div>


    </div>
    <!--/Row 1-->

    <!--Row 2-->
    <div class="row">

        <div class="divider-new">
            <h2 class="h2-responsive  wow bounceIn" data-wow-delay=".5s">Skill Set</h2>
        </div>

    </div>
    <!--/Row 2-->

    <!--Row 3-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5  wow fadeInUp " data-wow-delay=".8s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Machine Learning Developer <span class="text-muted" style="font-size:22px">[Core AI]</span></li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from University of Washington</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 3-->


    <!--Row 4-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5  wow fadeInDown " data-wow-delay=".8s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Full Stack Web Developer</li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from The Hong Kong University</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 4-->


    <!--Row 5-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5  wow fadeInUp " data-wow-delay=".8s ">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Python Programmer</li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from University of Michigan</li>

                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 5-->

    <!--Row 6-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5  wow fadeInDown " data-wow-delay=".8s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Android Developer</li>
                            <li class="text-muted" style="margin-left:60px"> - certification from The Hong Kong University</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 6-->

    <!--Row 7-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5  wow fadeInUp " data-wow-delay=".8s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Algorithms <span class="text-muted" style="font-size:20px">[Currently Pursuing]</span></li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from University of California, San&nbspDiego</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 7-->

    <!--Row 8-->
    <div class="row">

        <div class="divider-new">
            <h2 class="h2-responsive wow bounceIn" data-wow-delay=".5s">Connect to Me</h2>
        </div>

    </div>
    <!--/Row 8-->

    <!--Row 9-->
    <div class="row">

        <div class="col-md-1 col-sm-0">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-md-5">

            <!--Card-->
            <div class="card z-depth-5 waves-effect  wow fadeInDownBig " data-wow-delay="1s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:35px" class="h2-responsive">
                            <li><i class="fa fa-3x fa-google" aria-hidden="true"></i>
                                <a href="https://plus.google.com/+ParshJainvenom" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:70px; margin-bottom:40px">Follow</button></a>
                            </li>
                            <li><i class="fa fa-3x fa-github" aria-hidden="true"></i>
                                <a href="https://github.com/Parsh69" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:70px; margin-bottom:40px">Explore</button></a>
                            </li>
                            <li><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i>
                                <a href="https://in.linkedin.com/in/parshva-jain" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:70px; margin-bottom:40px">Connect</button></a>
                            </li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->

        </div>

        <div class="col-md-5">

            <!--Card-->
            <div class="card z-depth-5 waves-effect   wow fadeInLeftBig " data-wow-delay="1s">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul class="h4-responsive">
                            <li><i class="fa fa-3x fa-whatsapp" aria-hidden="true"></i> <span style="margin-left:20px; "> +91 7415577780 </span></li>
                            <li><br></li>
                            <li><i class="fa fa-2x fa-envelope" aria-hidden="true"></i> <span style="margin-left:20px;font-size:17px "> parsh.cosmos11@gmail.com </span></li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->

        </div>

    </div>
    <!--/Row 9-->
</div>
