<div class="container">

    <!--Row 1-->
    <div class="row" style="margin-top:70px">

        <div class="col-md-4">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card image-->
                <div class="view">
                    <img src="img/aboutMe/Pic.jpg" class="img-fluid">

                </div>
                <!--/.Card image-->
            </div>
        </div>

        <div class="col-md-8">

            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title">Parshva Jain  #Parsh </h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h4-responsive">
                            <li class="text-muted"> Lives in :</li>
                            <li style="margin-left:50px"> Indore , India</li>

                            <li class="text-muted"> Studying @ :</li>
                            <li style="margin-left:50px"> Medicaps Institute of Science and Technology <br><span class="text-muted" style="font-size:16px">Pursuing Degree in Information Technology</span></li>

                            <li><span class="text-muted">Age</span> : 20 <span class="text-muted" style="margin-left:40px">#ProfessionalDeveloper</span></li>


                        </ul>
                    </p>

                    <a href="https://plus.google.com/+ParshJainvenom" target="_blank" class="btn btn-info waves-effect z-depth-3">Follow Me</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->

        </div>


    </div>
    <!--/Row 1-->

    <!--/Row 2-->
    <div class="row">

        <div class="divider-new">
            <h2 class="h2-responsive  wow bounceIn" data-wow-delay=".4s">Skill Set</h2>
        </div>

    </div>
    <!--Row 2-->

    <!--Row 3-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Machine Learning Developer <span class="text-muted" style="font-size:22px">[ Core AI Materialization]</span></li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from University of Washington</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 3-->


    <!--Row 4-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Full Stack Web Developer</li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from The Hong Kong University</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 4-->


    <!--Row 5-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Python Programmer</li>
                            <li class="text-muted" style="margin-left:60px"> - specialization from University of Michigan</li>

                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 5-->

    <!--Row 6-->
    <div class="row">

        <div class="col-sm-1">
            <!--Just spacing (alignment)-->
        </div>

        <div class="col-sm-10">
            <!--Card-->
            <div class="card hoverable waves-effect z-depth-5">

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h2 class="card-title"></h2>
                    <!--Text-->
                    <p class="card-text">
                        <ul style="margin-left:50px" class="h2-responsive">
                            <li>Android</li>
                            <li class="text-muted" style="margin-left:60px"> - certification from The Hong Kong University</li>
                        </ul>
                    </p>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 6-->

</div>
