<!--Mask-->
<div class="webdev view hm-black-strong ">
    <!--Intro content-->
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.4s">Developing Scalable Web Apps from The Very Scratch</h1></li>
            <li>
                <h3 class="h3-responsive wow flipInY text-muted" data-wow-delay="1s">Node , Angular , MongoDB , UI/UX #FrameEverything</h3>
            </li>
            <li>
                <h4 class="h4-responsive wow fadeInRight" data-wow-delay="0.6s"> #FullStackWebDeveloper</h4>
            </li>
        </ul>
    </div>
    <!--/Intro content-->
</div>
<!--/.Mask-->
