<!--Mask-->
<div class="webdev view hm-black-strong ">
    <!--Intro content-->
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.4s">Developing Scalable Web Apps from The Very Scratch</h1></li>
            <li>
                <h3 class="h3-responsive wow flipInY text-muted" data-wow-delay="1s">Node , Angular , MongoDB , UI/UX #FrameEverything</h3>
            </li>
            <li>
                <h4 class="h4-responsive wow fadeInRight" data-wow-delay="0.6s"> #FullStackWebDeveloper</h4>
            </li>
        </ul>
    </div>
    <!--/Intro content-->
</div>
<!--/.Mask-->

<!--Mask-->
<div class="webdev1 view hm-black-strong ">
    <!--Intro content-->
    <div class="full-bg-img flex-center">
        <ul>
            <li style="margin-bottom:40px">
                <h2 class="h2-responsive wow rollIn" data-wow-delay="0.5s">Working with Technology that Reflects</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.9s">MongoDB</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInDown" data-wow-delay="1s">+</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInRight" data-wow-delay="1.2s">Express</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInDown" data-wow-delay="1.3s">+</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="1.5s">Angular</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInDown" data-wow-delay="1.6s">+</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInRight" data-wow-delay="1.8s">Node</h2>
            </li>
            <li>
                <h2 class="h2-responsive wow fadeInDown" data-wow-delay="2s">=</h2>
            </li>
            <li>
                <h1 class="display-4 wow bounceInUp" data-wow-delay="2.5s">MEAN</h1>
            </li>
            <li>
                <h4 class="h4-responsive wow flipInY" data-wow-delay="3s">YupI'ma#MEAN_Developer</h4>
            </li>



        </ul>
    </div>
    <!--/Intro content-->
</div>
<!--/.Mask-->

<!---Container-->
<div class="container">

    <!--Row 1-->
    <div class="row">

        <div class="divider-new">
            <h2 class="h2-responsive  wow bounceIn" data-wow-delay=".3s">Stuff I'm Specialized In</h2>
        </div>

    </div>
    <!--/Row 1-->

    <!--Row 2-->
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <!--Card-->
            <div class="card hoverable waves-effect ">

                <!--Card image-->
                <div class="view hm-zoom z-depth-4">
                    <img src="../img/webDev/node.png" class="img-fluid">

                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Node JS</h4>
                    <!--Text-->
                    <p class="card-text">Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. </p>
                    <p>Certified From - The Hong Kong University </p>
                    <a class="btn btn-primary waves-effect z-depth-3">Certificate</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

        <div class="col-md-6 col-sm-12">
            <!--Card-->
            <div class="card hoverable waves-effect">

                <!--Card image-->
                <div class="view hm-zoom z-depth-4">
                    <img src="../img/webDev/angular.png" class="img-fluid">

                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Angular JS</h4>
                    <!--Text-->
                    <p class="card-text">AngularJS is a structural framework for dynamic web apps. It lets you express your application's components clearly and succinctly. Angular's data binding and dependency injection makes it a Champ</p>
                    <p>Certified From - The Hong Kong University </p>
                    <a class="btn btn-primary waves-effect z-depth-3">Certificate</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 2-->

    <hr>

    <!--Row 3-->
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <!--Card-->
            <div class="card hoverable waves-effect ">

                <!--Card image-->
                <div class="view hm-zoom z-depth-4">
                    <img src="../img/webDev/mongodb.jpg" class="img-fluid">

                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">MongoDB</h4>
                    <!--Text-->
                    <p class="card-text">Do What You Could Never Do Before!! <br> MongoDB is the next-generation database that lets you create applications never possible before.Its NoSQL and uses a JSON data model that maps to your applications, and uses Dynamic schemas.</p>
                    <a href="https://www.mongodb.com/" target="_blank" class="btn btn-info waves-effect z-depth-3">MongoDB</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

        <div class="col-md-6 col-sm-12">
            <!--Card-->
            <div class="card hoverable waves-effect">

                <!--Card image-->
                <div class="view hm-zoom z-depth-4">
                    <img src="../img/webDev/bootstrap.png" class="img-fluid">

                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">BootStrap & Material Design</h4>
                    <!--Text-->
                    <p class="card-text">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.<br>Material Design! Thatz the Google's Quantum Paper.</p>
                    <p>Certified From - The Hong Kong University </p>
                    <a class="btn btn-primary waves-effect z-depth-3">Certificate</a>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Row 3-->

    <!--Row 4-->
    <div class="row">

        <div class="divider-new">
            <h2 class="h2-responsive  wow bounceIn" data-wow-delay=".3s"> Developing Android Too </h2>
        </div>

    </div>
    <!--/Row 4-->

    <!--Row 5-->
    <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="card-block z-depth-3 waves-effect">
                <!--Title-->
                <h2 class="card-title">Currently Framing Android 7.0</h2>
                <!--Text-->
                <p class="card-text">Get your apps ready for the latest version of Android, with new system behaviors to save battery and memory. Extend your apps with multi-window UI, direct reply notifications and more.</p>
                <p> - We build it for You</p>

                <a class="btn btn-primary waves-effect z-depth-3">Certificate</a>
            </div>

        </div>

        <div class="col-md-8 col-sm-12">
            <!--Card-->
            <div class="card z-depth-5 waves-effect ">

                <!--Card image-->
                <div class="view hm-zoom">
                    <img src="../img/webDev/android.png" class="img-fluid img-responsive">

                </div>
                <!--/.Card image-->

            </div>

        </div>
        <!--/Row 5-->


    </div>
    <!---/Container-->
